Repository devunt/mearie: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, cspell, rust-fmt

eslint:
  run: pnpm eslint --fix --quiet {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write --ignore-unknown {staged_files}
  stage_fixed: true

cspell:
  run: pnpm cspell --no-progress --relative --no-must-find-files {staged_files}

rust-fmt:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

ci(release): add snapshot publishing for next tag
  .github/workflows/release.yml
Due: prettier, cspell

chore: add test changeset for snapshot release
  .changeset/tender-snails-turn.md
Due: prettier, cspell

ci(release): support native binaries in snapshot and fix review issues
  .github/workflows/release.yml
Due: prettier, cspell

chore: add changeset for all packages to test snapshot release
  .changeset/snapshot-test.md
  .changeset/tender-snails-turn.md
Due: prettier, cspell

fix(ci): only download native artifacts on release commits in publish job
  .github/workflows/release.yml
Due: prettier, cspell

chore: standardize package READMEs and update keywords/homepage
  crates/native/README.md
  package.json
  packages/cli/README.md
  packages/mearie/README.md
  packages/shared/README.md
  packages/vite/README.md
Due: prettier, cspell

feat(core): replace destructive cache invalidation with stale-marking strategy
  .changeset/stale-cache-invalidation.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
  packages/core/src/cache/denormalize.test.ts
  packages/core/src/cache/denormalize.ts
  packages/core/src/exchange.ts
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
  packages/core/src/exchanges/test-utils.ts
  packages/core/src/index.ts
Due: eslint, prettier, cspell

feat(core): stale-marking cache invalidation (#99)
  .changeset/stale-cache-invalidation.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
  packages/core/src/cache/denormalize.test.ts
  packages/core/src/cache/denormalize.ts
  packages/core/src/exchange.ts
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
  packages/core/src/exchanges/test-utils.ts
  packages/core/src/index.ts
Due: eslint, prettier, cspell

chore: add .worktrees/ to gitignore
  .gitignore
Due: cspell

feat(react,vue,solid,svelte): expose metadata from all framework binding hooks
  .changeset/expose-metadata-hooks.md
  packages/react/src/use-fragment.ts
  packages/react/src/use-mutation.ts
  packages/react/src/use-query.ts
  packages/react/src/use-subscription.ts
  packages/solid/src/create-fragment.ts
  packages/solid/src/create-mutation.ts
  packages/solid/src/create-query.ts
  packages/solid/src/create-subscription.ts
  packages/svelte/src/create-fragment.svelte.ts
  packages/svelte/src/create-mutation.svelte.ts
  packages/svelte/src/create-query.svelte.ts
  packages/svelte/src/create-subscription.svelte.ts
  packages/vue/src/use-fragment.ts
  packages/vue/src/use-mutation.ts
  packages/vue/src/use-query.ts
  packages/vue/src/use-subscription.ts
Due: eslint, prettier, cspell

feat(react,vue,solid,svelte): expose metadata from framework binding hooks (#100)
  .changeset/expose-metadata-hooks.md
  .gitignore
  packages/react/src/use-fragment.ts
  packages/react/src/use-mutation.ts
  packages/react/src/use-query.ts
  packages/react/src/use-subscription.ts
  packages/solid/src/create-fragment.ts
  packages/solid/src/create-mutation.ts
  packages/solid/src/create-query.ts
  packages/solid/src/create-subscription.ts
  packages/svelte/src/create-fragment.svelte.ts
  packages/svelte/src/create-mutation.svelte.ts
  packages/svelte/src/create-query.svelte.ts
  packages/svelte/src/create-subscription.svelte.ts
  packages/vue/src/use-fragment.ts
  packages/vue/src/use-mutation.ts
  packages/vue/src/use-query.ts
  packages/vue/src/use-subscription.ts
Due: eslint, prettier, cspell

fix(ci): cache native builds and use cumulative changeset detection
  .github/workflows/build-native.yml
  .github/workflows/release.yml
Due: prettier, cspell

chore(ci): bump actions/cache to v5
  .github/workflows/build-native.yml
Due: prettier, cspell

feat(core): type-safe cache invalidate with schema-aware key fields
  .changeset/type-safe-cache-invalidate.md
  crates/native/src/codegen/generators/types.rs
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
  packages/core/src/cache/invalidate-target.type-test.ts
  packages/core/src/cache/types.ts
  packages/core/src/cache/utils.test.ts
  packages/core/src/cache/utils.ts
  packages/core/src/client.ts
  packages/core/src/exchange.ts
  packages/core/src/exchanges/cache.ts
  packages/core/src/index.ts
  packages/shared/src/types.ts
Due: eslint, prettier, cspell, rust-fmt

fix(native): collapse nested if-let to satisfy clippy
  crates/native/src/codegen/generators/types.rs
Due: cspell, rust-fmt

feat(core): type-safe cache invalidate (#101)
  .changeset/type-safe-cache-invalidate.md
  crates/native/src/codegen/generators/types.rs
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
  packages/core/src/cache/invalidate-target.type-test.ts
  packages/core/src/cache/types.ts
  packages/core/src/cache/utils.test.ts
  packages/core/src/cache/utils.ts
  packages/core/src/client.ts
  packages/core/src/exchange.ts
  packages/core/src/exchanges/cache.ts
  packages/core/src/index.ts
  packages/shared/src/types.ts
Due: eslint, prettier, cspell, rust-fmt

fix(native): fallback to "Query" when schema definition omits query type
  crates/native/src/codegen/generators/types.rs
Due: cspell, rust-fmt

fix(native): fallback to "Query" when schema definition omits query type
  .changeset/fix-query-fields-fallback.md
  crates/native/src/codegen/generators/types.rs
Due: prettier, cspell, rust-fmt

fix(native): fallback to Query when schema omits query type (#103)
  .changeset/fix-query-fields-fallback.md
  crates/native/src/codegen/generators/types.rs
Due: prettier, cspell, rust-fmt

refactor(core): use nested metadata convention for fragment ref
  packages/core/src/client.ts
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
  packages/core/src/exchanges/fragment.test.ts
  packages/core/src/exchanges/fragment.ts
Due: eslint, prettier, cspell

feat(core): add optimistic update support for mutations
  .changeset/optimistic-update.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
  packages/core/src/client.ts
  packages/core/src/exchange.ts
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
  packages/react/src/use-mutation.ts
  packages/solid/src/create-mutation.ts
  packages/svelte/src/create-mutation.svelte.ts
  packages/vue/src/use-mutation.ts
Due: eslint, prettier, cspell

feat(core): add optimistic update support for mutations (#104)
  .changeset/optimistic-update.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
  packages/core/src/client.ts
  packages/core/src/exchange.ts
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
  packages/react/src/use-mutation.ts
  packages/solid/src/create-mutation.ts
  packages/svelte/src/create-mutation.svelte.ts
  packages/vue/src/use-mutation.ts
Due: eslint, prettier, cspell

fix(core): store entity-typed objects without key fields as inline objects
  .changeset/fix-union-normalize-skip.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/normalize.test.ts
  packages/core/src/cache/normalize.ts
Due: eslint, prettier, cspell

fix(core): store entity-typed objects without key fields as inline objects (#106)
  .changeset/fix-union-normalize-skip.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/normalize.test.ts
  packages/core/src/cache/normalize.ts
Due: eslint, prettier, cspell

fix(core): emit error instead of hanging when cache remains partial after network response
  .changeset/cache-partial-error.md
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
Due: eslint, prettier, cspell

fix(core): resolve typecheck errors in cache exchange
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
Due: eslint, prettier, cspell

fix(core): emit error instead of hanging when cache remains partial after network response (#107)
  .changeset/cache-partial-error.md
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
Due: eslint, prettier, cspell

feat(native,shared,core): add client-only fragment arguments support
  .changeset/fragment-arguments.md
  crates/native/src/codegen/generators/module.rs
  crates/native/src/codegen/generators/runtime.rs
  crates/native/src/codegen/generators/types.rs
  crates/native/src/graphql/ast/fragments.rs
  crates/native/src/graphql/ast/operations.rs
  crates/native/src/graphql/parser/parser.rs
  crates/native/src/pipeline/mod.rs
  crates/native/src/schema/document.rs
  crates/native/src/schema/mod.rs
  crates/native/src/transformation/clone.rs
  crates/native/src/transformation/pipeline.rs
  crates/native/src/transformation/printer.rs
  crates/native/src/transformation/rules/fragment_arguments.rs
  crates/native/src/transformation/rules/mod.rs
  crates/native/src/transformation/transformer.rs
  crates/native/src/validation/rules/fragments.rs
  crates/native/src/validation/rules/variables.rs
  crates/native/src/validation/visitor.rs
  crates/native/tests/parser_tests.rs
  crates/native/tests/snapshots/parser_tests__fragment_on_keyword_type_name.snap
  crates/native/tests/snapshots/parser_tests__fragment_spread_with_arguments.snap
  crates/native/tests/snapshots/parser_tests__fragment_spread_with_default_used.snap
  crates/native/tests/snapshots/parser_tests__fragment_spread_with_variable_argument.snap
  crates/native/tests/snapshots/parser_tests__fragment_with_multiple_variable_definitions.snap
  crates/native/tests/snapshots/parser_tests__fragment_with_nested_spreads.snap
  crates/native/tests/snapshots/parser_tests__fragment_with_variable_definitions.snap
  crates/native/tests/snapshots/parser_tests__named_fragment.snap
  crates/native/tests/snapshots/parser_tests__nested_fragment_spreads.snap
  crates/native/tests/snapshots/parser_tests__nested_fragments.snap
  crates/native/tests/snapshots/parser_tests__query_with_fragment.snap
  crates/native/tests/snapshots/parser_tests__query_with_fragments_and_variables.snap
  crates/native/tests/snapshots/parser_tests__query_with_inline_and_named_fragments.snap
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
  packages/core/src/cache/constants.ts
  packages/core/src/cache/denormalize.test.ts
  packages/core/src/cache/denormalize.ts
  packages/core/src/cache/utils.ts
  packages/shared/src/types.ts
Due: eslint, prettier, cspell, rust-fmt

test(native,core): add comprehensive fragment argument test coverage
  crates/native/src/validation/rules/fragments.rs
  crates/native/src/validation/rules/variables.rs
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/denormalize.test.ts
Due: eslint, prettier, cspell, rust-fmt

test(native): add FieldsInSetCanMerge validation for fragment spreads with arguments
  crates/native/src/validation/rules/fragments.rs
Due: cspell, rust-fmt

fix(native): resolve clippy type_complexity and collapsible_if warnings
  crates/native/src/validation/rules/fragments.rs
  crates/native/src/validation/rules/variables.rs
Due: cspell, rust-fmt

Add client-only fragment arguments support (#108)
  .changeset/fragment-arguments.md
  crates/native/src/codegen/generators/module.rs
  crates/native/src/codegen/generators/runtime.rs
  crates/native/src/codegen/generators/types.rs
  crates/native/src/graphql/ast/fragments.rs
  crates/native/src/graphql/ast/operations.rs
  crates/native/src/graphql/parser/parser.rs
  crates/native/src/pipeline/mod.rs
  crates/native/src/schema/document.rs
  crates/native/src/schema/mod.rs
  crates/native/src/transformation/clone.rs
  crates/native/src/transformation/pipeline.rs
  crates/native/src/transformation/printer.rs
  crates/native/src/transformation/rules/fragment_arguments.rs
  crates/native/src/transformation/rules/mod.rs
  crates/native/src/transformation/transformer.rs
  crates/native/src/validation/rules/fragments.rs
  crates/native/src/validation/rules/variables.rs
  crates/native/src/validation/visitor.rs
  crates/native/tests/parser_tests.rs
  crates/native/tests/snapshots/parser_tests__fragment_on_keyword_type_name.snap
  crates/native/tests/snapshots/parser_tests__fragment_spread_with_arguments.snap
  crates/native/tests/snapshots/parser_tests__fragment_spread_with_default_used.snap
  crates/native/tests/snapshots/parser_tests__fragment_spread_with_variable_argument.snap
  crates/native/tests/snapshots/parser_tests__fragment_with_multiple_variable_definitions.snap
  crates/native/tests/snapshots/parser_tests__fragment_with_nested_spreads.snap
  crates/native/tests/snapshots/parser_tests__fragment_with_variable_definitions.snap
  crates/native/tests/snapshots/parser_tests__named_fragment.snap
  crates/native/tests/snapshots/parser_tests__nested_fragment_spreads.snap
  crates/native/tests/snapshots/parser_tests__nested_fragments.snap
  crates/native/tests/snapshots/parser_tests__query_with_fragment.snap
  crates/native/tests/snapshots/parser_tests__query_with_fragments_and_variables.snap
  crates/native/tests/snapshots/parser_tests__query_with_inline_and_named_fragments.snap
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
  packages/core/src/cache/constants.ts
  packages/core/src/cache/denormalize.test.ts
  packages/core/src/cache/denormalize.ts
  packages/core/src/cache/utils.ts
  packages/shared/src/types.ts
Due: eslint, prettier, cspell, rust-fmt

fix(native): fix union intersection parentheses and double $Nullable wrapping
  crates/native/src/codegen/generators/types.rs
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__interface_inline_fragments_types.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__required_cascade_stops_types.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__union_with_fragment_refs_types.snap
Due: cspell, rust-fmt

fix(native): fix union intersection parentheses and double $Nullable wrapping (#110)
  crates/native/src/codegen/generators/types.rs
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__interface_inline_fragments_types.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__required_cascade_stops_types.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__union_with_fragment_refs_types.snap
Due: cspell, rust-fmt

fix(core): preserve entity links during normalization when key fields are missing
  .changeset/fix-normalize-entity-link-preservation.md
  packages/core/src/cache/normalize.test.ts
  packages/core/src/cache/normalize.ts
Due: eslint, prettier, cspell

fix(core): preserve entity links when key fields are missing (#111)
  .changeset/fix-normalize-entity-link-preservation.md
  packages/core/src/cache/normalize.test.ts
  packages/core/src/cache/normalize.ts
Due: eslint, prettier, cspell

fix(core): atomically replace object-valued scalars instead of deep merging
  .changeset/fix-json-scalar-deep-merge.md
  packages/core/src/cache/denormalize.ts
  packages/core/src/cache/normalize.test.ts
  packages/core/src/cache/normalize.ts
  packages/core/src/cache/utils.ts
Due: eslint, prettier, cspell

fix(core): atomically replace object-valued scalars instead of deep merging (#113)
  .changeset/fix-json-scalar-deep-merge.md
  packages/core/src/cache/denormalize.ts
  packages/core/src/cache/normalize.test.ts
  packages/core/src/cache/normalize.ts
  packages/core/src/cache/utils.ts
Due: eslint, prettier, cspell

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,yaml,yml,md,graphql}
  cspell: any of: *
  rust-fmt: any of: *.rs
