Repository devunt/mearie: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, cspell, rust-fmt

eslint:
  run: pnpm eslint --fix --quiet {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write --ignore-unknown {staged_files}
  stage_fixed: true

cspell:
  run: pnpm cspell --no-progress --relative --no-must-find-files {staged_files}

rust-fmt:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

fix(cache): skip redundant set patch for splice-inserted items
  .changeset/fix-diff-redundant-set.md
  packages/core/src/cache/diff.test.ts
  packages/core/src/cache/diff.ts
Due: eslint, prettier, cspell

fix(cache): deduplicate accessor calls for repeated entity fields
  .changeset/fix-normalize-dedup-accessor.md
  packages/core/src/cache/normalize.test.ts
  packages/core/src/cache/normalize.ts
Due: eslint, prettier, cspell

fix(cache): skip redundant set patch for splice-inserted items (#137)
  .changeset/fix-diff-redundant-set.md
  packages/core/src/cache/diff.test.ts
  packages/core/src/cache/diff.ts
Due: eslint, prettier, cspell

fix(cache): deduplicate accessor calls for repeated entity fields (#138)
  .changeset/fix-normalize-dedup-accessor.md
  packages/core/src/cache/normalize.test.ts
  packages/core/src/cache/normalize.ts
Due: eslint, prettier, cspell

fix(cache): deep merge embedded objects in hydrate
  .changeset/fix-cache-hydrate-deep-merge.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
Due: eslint, prettier, cspell

fix(cache): deep merge embedded objects in hydrate (#139)
  .changeset/fix-cache-hydrate-deep-merge.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
Due: eslint, prettier, cspell

docs: rewrite CLAUDE.md with architecture details and contribution conventions
  CLAUDE.md
Due: prettier, cspell

feat(core): add AbortSignal support to query and mutation operations
  .changeset/abort-signal-support.md
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/stream/index.ts
  packages/core/src/stream/operators/take-until.ts
  packages/core/src/stream/sources/from-abort-signal.test.ts
  packages/core/src/stream/sources/from-abort-signal.ts
Due: eslint, prettier, cspell

chore: use patch bump for pre-1.0 semver
  .changeset/abort-signal-support.md
Due: prettier, cspell

feat(core): add AbortSignal support to query and mutation (#140)
  .changeset/abort-signal-support.md
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/stream/index.ts
  packages/core/src/stream/operators/take-until.ts
  packages/core/src/stream/sources/from-abort-signal.test.ts
  packages/core/src/stream/sources/from-abort-signal.ts
Due: eslint, prettier, cspell

fix(cache): invalidate all arg variants when $args is omitted
  .changeset/fix-invalidate-field-all-args.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
Due: eslint, prettier, cspell

fix(cache): invalidate all arg variants when $args is omitted (#142)
  .changeset/fix-invalidate-field-all-args.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
Due: eslint, prettier, cspell

fix(codegen): include __typename and key fields in runtime selections
  crates/native/src/codegen/generators/runtime.rs
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__custom_directives_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__custom_scalar_mapping_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__deeply_nested_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__enum_types_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__field_alias_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__field_arguments_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__fragment_basic_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__fragment_with_args_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__interface_inline_fragments_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__list_variables_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__multiple_fragments_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__multiple_operations_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__mutation_with_input_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__nested_input_objects_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__required_cascade_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__required_cascade_stops_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__required_directive_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__simple_query_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__subscription_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__union_inline_fragments_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__union_partial_coverage_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__union_with_fragment_refs_runtime.snap
Due: cspell, rust-fmt

chore: add changeset
  .changeset/runtime-inject-implicit-selections.md
Due: prettier, cspell

chore: fix changeset package name
  .changeset/runtime-inject-implicit-selections.md
Due: prettier, cspell

fix(native): collapse nested if to satisfy clippy
  crates/native/src/codegen/generators/runtime.rs
Due: cspell, rust-fmt

fix(codegen): include __typename and key fields in runtime selections (#144)
  .changeset/runtime-inject-implicit-selections.md
  crates/native/src/codegen/generators/runtime.rs
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__custom_directives_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__custom_scalar_mapping_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__deeply_nested_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__enum_types_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__field_alias_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__field_arguments_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__fragment_basic_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__fragment_with_args_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__interface_inline_fragments_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__list_variables_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__multiple_fragments_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__multiple_operations_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__mutation_with_input_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__nested_input_objects_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__required_cascade_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__required_cascade_stops_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__required_directive_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__simple_query_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__subscription_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__union_inline_fragments_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__union_partial_coverage_runtime.snap
  crates/native/src/pipeline/snapshots/mearie_native__pipeline__tests__union_with_fragment_refs_runtime.snap
Due: prettier, cspell, rust-fmt

Add React Suspense query support
  .changeset/proud-donuts-sink.md
  packages/react/src/use-query.test.ts
  packages/react/src/use-query.ts
Due: eslint, prettier, cspell

refactor(native): collapse if-in-match branches into match guards
  crates/native/src/validation/rules/values.rs
  crates/native/src/validation/rules/variables.rs
Due: cspell, rust-fmt

refactor(native): collapse if-in-match branches into match guards (#147)
  crates/native/src/validation/rules/values.rs
  crates/native/src/validation/rules/variables.rs
Due: cspell, rust-fmt

chore(native): upgrade oxc to 0.128
  Cargo.lock
  crates/native/Cargo.toml
  crates/native/src/codegen/generators/module.rs
  crates/native/src/codegen/generators/runtime.rs
  crates/native/src/codegen/generators/types.rs
Due: cspell, rust-fmt

chore(native): upgrade oxc to 0.128 (#148)
  Cargo.lock
  crates/native/Cargo.toml
  crates/native/src/codegen/generators/module.rs
  crates/native/src/codegen/generators/runtime.rs
  crates/native/src/codegen/generators/types.rs
Due: cspell, rust-fmt

chore(examples/react): update example to typed query API
  examples/react/src/components/movie-card.tsx
  examples/react/src/routes/index.tsx
Due: eslint, prettier, cspell

chore: add changeset
  .changeset/thick-tigers-fry.md
Due: prettier, cspell

chore(native): fix clippy
  crates/native/src/extraction/mod.rs
Due: cspell, rust-fmt

fix(ci): codegen test fixtures
  .github/workflows/ci.yml
  packages/codegen/package.json
Due: prettier, cspell

Implement per-operation fetch policies
  .changeset/per-operation-fetch-policy.md
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
  packages/core/src/index.ts
  packages/react/src/use-query.ts
  packages/svelte/src/create-query.svelte.test.ts
Due: eslint, prettier, cspell

fix(cache): notify subscribers when an entity link is replaced
  .changeset/cache-notify-entity-link-replacement.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/normalize.ts
  packages/core/src/exchanges/cache.test.ts
Due: eslint, prettier, cspell

fix(cache): notify subscribers when an entity link is replaced (#151)
  .changeset/cache-notify-entity-link-replacement.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/normalize.ts
  packages/core/src/exchanges/cache.test.ts
Due: eslint, prettier, cspell

Implement per-operation fetch policies (#150)
  .changeset/per-operation-fetch-policy.md
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
  packages/core/src/index.ts
  packages/react/src/use-query.ts
  packages/svelte/src/create-query.svelte.test.ts
Due: eslint, prettier, cspell

fix(cache): refetch stale queries even when cache is partial
  .changeset/cache-refetch-stale-partial-query.md
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
Due: eslint, prettier, cspell

fix(cache): refetch stale queries even when cache is partial (#152)
  .changeset/cache-refetch-stale-partial-query.md
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
Due: eslint, prettier, cspell

fix(cache): refresh stalled subscription cursors on incomplete re-trace
  .changeset/cache-refresh-stalled-cursors.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
Due: eslint, prettier, cspell

fix(cache): refresh stalled subscription cursors on incomplete re-trace (#153)
  .changeset/cache-refresh-stalled-cursors.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
Due: eslint, prettier, cspell

feat(core): add observer state machine for hook data ownership
  packages/core/src/index.ts
  packages/core/src/observer.test.ts
  packages/core/src/observer.ts
Due: eslint, prettier, cspell

refactor(svelte): rebuild createQuery on observer state machine
  packages/svelte/src/create-query.svelte.test.ts
  packages/svelte/src/create-query.svelte.ts
  packages/svelte/src/test-utils.svelte.ts
Due: eslint, prettier, cspell

refactor(core): move initialData reuse tracking out of observer state
  packages/core/src/index.ts
  packages/core/src/observer.test.ts
  packages/core/src/observer.ts
Due: eslint, prettier, cspell

refactor(svelte): restore fine-grained reactivity in createQuery
  packages/svelte/src/create-query.svelte.test.ts
  packages/svelte/src/create-query.svelte.ts
Due: eslint, prettier, cspell

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,yaml,yml,md,graphql}
  cspell: any of: *
  rust-fmt: any of: *.rs
