Repository devunt/mearie: changes, and which lefthook commands are due for each by the changed paths.
All: format-js, format-rust

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    format-js:
      glob: "*.{js,ts,jsx,tsx,json,yml,yaml,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true

    format-rust:
      glob: "*.rs"
      run: cargo fmt
      stage_fixed: true

feat(native/transform): implement basic transformation
  crates/native/src/lib.rs
  crates/native/src/transformation/clone.rs
  crates/native/src/transformation/context.rs
  crates/native/src/transformation/mod.rs
  crates/native/src/transformation/pipeline.rs
  crates/native/src/transformation/rules/directives.rs
  crates/native/src/transformation/rules/mod.rs
  crates/native/src/transformation/rules/selections.rs
  crates/native/src/transformation/test_helpers.rs
  crates/native/src/transformation/transformer.rs
Due: format-rust

feat(docs): add logo
  docs/.vitepress/config.ts
  docs/.vitepress/theme/custom.css
  docs/assets/favicon.png
  docs/assets/favicon.svg
  docs/assets/logo.svg
  docs/index.md
Due: format-js

chore(docs): add logo to readme
  README.md
Due: format-js

chore(docs): update assets
  docs/.vitepress/config.ts
  docs/.vitepress/theme/custom.css
  docs/.vitepress/theme/index.ts
  docs/assets/favicon.svg
  docs/assets/logo.svg
  docs/index.md
  docs/public/favicon.png
  docs/public/favicon.svg
  docs/public/logo.svg
  docs/public/opengraph.png
Due: format-js

fix(docs): fix typo
  docs/.vitepress/config.ts
Due: format-js

fix(ci): use full checkout for docs
  .github/workflows/docs.yml
Due: format-js

chore(deps): update dependencies
  examples/react/package.json
  package.json
  pnpm-lock.yaml
Due: format-js

chore(docs): add early development warning
  docs/getting-started/installation.md
  docs/why-mearie.md
Due: format-js

fix(docs): fix broken readme logo link
  README.md
Due: format-js

refactor(native/transform): do not pass DocumentIndex to transformer
  crates/native/src/transformation/context.rs
  crates/native/src/transformation/pipeline.rs
  crates/native/src/transformation/test_helpers.rs
  crates/native/src/transformation/transformer.rs
Due: format-rust

fix(native/transform): do not add __typename to leaf fields
  crates/native/src/schema/index.rs
  crates/native/src/transformation/rules/selections.rs
  crates/native/src/transformation/transformer.rs
Due: format-rust

feat(native/transform): implement ast printer
  crates/native/src/transformation/mod.rs
  crates/native/src/transformation/printer.rs
Due: format-rust

feat(native/index): use transformed source for artifact source
  crates/native/src/pipeline/mod.rs
  crates/native/src/schema/document.rs
Due: format-rust

fix(native/codegen): fix failing tests
  crates/native/src/codegen/generator.rs
Due: format-rust

fix(native): use transformed source only for runtime codegen
  crates/native/src/codegen/generators/runtime.rs
  crates/native/src/schema/document.rs
Due: format-rust

refactor(examples/react): reorganize graphql queries
  examples/react/src/routes/index.tsx
  examples/react/src/routes/movies/$movieId.tsx
Due: format-js

fix(vite): properly invalidate virtual module
  packages/vite/src/plugin.ts
Due: format-js

feat(native/schema): introduce builtin schema
  crates/native/src/codegen/generator.rs
  crates/native/src/codegen/test_helpers.rs
  crates/native/src/pipeline/mod.rs
  crates/native/src/schema/builder.rs
  crates/native/src/schema/builtin.rs
  crates/native/src/schema/index.rs
  crates/native/src/schema/mod.rs
  crates/native/src/transformation/test_helpers.rs
  crates/native/src/validation/test_helpers.rs
Due: format-rust

refactor(doc): update index/intro
  README.md
  docs/index.md
  docs/why-mearie.md
Due: format-js

chore(docs): update opengraph image
  docs/public/opengraph.png
Due: none

refactor(examples/react): clean up import paths
  examples/react/src/components/button.tsx
  examples/react/src/components/card.tsx
  examples/react/src/routes/__root.tsx
  examples/react/src/routes/index.tsx
  examples/react/src/routes/movies/$movieId.tsx
  examples/react/tsconfig.json
  examples/react/vite.config.ts
Due: format-js

feat(examples/solid): add solid example
  examples/solid/app.config.ts
  examples/solid/mearie.config.ts
  examples/solid/package.json
  examples/solid/src/app.css
  examples/solid/src/app.tsx
  examples/solid/src/components/button.tsx
  examples/solid/src/components/card.tsx
  examples/solid/src/components/movie-card.tsx
  examples/solid/src/entry-client.tsx
  examples/solid/src/entry-server.tsx
  examples/solid/src/global.d.ts
  examples/solid/src/lib/client.ts
  examples/solid/src/routes/[...404].tsx
  examples/solid/src/routes/index.tsx
  examples/solid/src/routes/movies/[id].tsx
  examples/solid/tsconfig.json
  packages/solid/src/create-fragment.ts
  packages/solid/src/create-query.ts
  packages/solid/src/create-subscription.ts
  pnpm-lock.yaml
Due: format-js

fix(native/extraction): use `tsx` for source type
  crates/native/src/extraction/mod.rs
Due: format-rust

fix(config,vite): resolve project root relative to config file
  packages/config/src/load.ts
  packages/vite/src/plugin.ts
Due: format-js

fix(codegen): reset before configure logger
  packages/codegen/src/logger.ts
Due: format-js

feat(examples/vue): add vue example
  examples/vue/.gitignore
  examples/vue/README.md
  examples/vue/app/app.vue
  examples/vue/app/assets/css/main.css
  examples/vue/app/components/Button.vue
  examples/vue/app/components/Card.vue
  examples/vue/app/components/MovieCard.vue
  examples/vue/app/pages/index.vue
  examples/vue/app/pages/movies/[id].vue
  examples/vue/app/plugins/mearie.ts
  examples/vue/mearie.config.ts
  examples/vue/nuxt.config.ts
  examples/vue/package.json
  examples/vue/tsconfig.json
  packages/codegen/src/parsers.ts
  packages/config/package.json
  packages/vue/src/use-fragment.ts
  packages/vue/src/use-query.ts
  packages/vue/src/use-subscription.ts
  pnpm-lock.yaml
Due: format-js

fix(examples/vue): clean up package.json
  examples/vue/package.json
Due: format-js

feat(examples/svelte): add svelte example
  examples/svelte/.gitignore
  examples/svelte/mearie.config.ts
  examples/svelte/package.json
  examples/svelte/src/app.css
  examples/svelte/src/app.d.ts
  examples/svelte/src/app.html
  examples/svelte/src/global.d.ts
  examples/svelte/src/lib/client.ts
  examples/svelte/src/lib/components/Button.svelte
  examples/svelte/src/lib/components/Card.svelte
  examples/svelte/src/lib/components/MovieCard.svelte
  examples/svelte/src/lib/index.ts
  examples/svelte/src/routes/+layout.svelte
  examples/svelte/src/routes/+page.svelte
  examples/svelte/src/routes/movies/[id]/+page.svelte
  examples/svelte/svelte.config.js
  examples/svelte/tsconfig.json
  examples/svelte/vite.config.ts
  packages/svelte/src/create-fragment.svelte.ts
  packages/svelte/src/create-query.svelte.ts
  packages/svelte/src/create-subscription.svelte.ts
  pnpm-lock.yaml
Due: format-js

refactor(react,vue,solid): make fragment to return data getter
  examples/react/src/components/movie-card.tsx
  examples/solid/src/components/movie-card.tsx
  examples/vue/app/components/MovieCard.vue
  packages/react/src/use-fragment.ts
  packages/solid/src/create-fragment.ts
  packages/vue/src/use-fragment.ts
Due: format-js

fix(core/exchange): forward all results to upstream in cacheExchange
  packages/core/src/exchanges/cache.ts
Due: format-js

fix(vite): add schema files to the hmr watch list
  packages/vite/src/plugin.ts
Due: format-js

fix(core/exchange): forward network result selectively on cacheExchange
  packages/core/src/exchanges/cache.ts
Due: format-js

fix(core/exchange): fix failing tests
  packages/core/src/exchanges/subscription.test.ts
Due: format-js

feat(core/stream): add `switchMap` operator
  packages/core/src/stream/index.ts
  packages/core/src/stream/operators/switch-map.test.ts
  packages/core/src/stream/operators/switch-map.ts
Due: format-js

fix(core/cache): resubscribe after being notified
  packages/core/src/cache/cache.ts
  packages/core/src/cache/denormalize.test.ts
  packages/core/src/cache/denormalize.ts
  packages/core/src/cache/types.ts
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
Due: format-js

feat(fixture): add `likeMovie` and `dislikeMovie`
  fixture/schema.graphql
  fixture/src/resolvers.ts
Due: format-js

refactor(solid,svelte): use tuple for `createMutation` return value
  packages/solid/src/create-mutation.ts
  packages/solid/src/index.ts
  packages/svelte/src/create-mutation.svelte.ts
  packages/svelte/src/index.svelte.ts
Due: format-js

feat(examples): add mutation and cache update example
  examples/react/src/routes/movies/$movieId.tsx
  examples/solid/src/routes/movies/[id].tsx
  examples/svelte/src/routes/movies/[id]/+page.svelte
  examples/vue/app/pages/movies/[id].vue
Due: format-js

fix(core/cache): only call normalize accessor if leaf value is changed
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/denormalize.ts
  packages/core/src/cache/normalize.ts
  packages/core/src/cache/utils.ts
Due: format-js

feat(native/codegen): support custom scalar type mapping
  crates/native/src/codegen/context.rs
  crates/native/src/codegen/generator.rs
  crates/native/src/codegen/generators/types.rs
  crates/native/src/codegen/test_helpers.rs
  crates/native/src/ffi/napi.rs
  crates/native/src/pipeline/config.rs
  crates/native/src/pipeline/mod.rs
  packages/codegen/src/context.ts
  packages/codegen/src/generator.ts
  packages/vite/src/plugin.ts
Due: format-js, format-rust
