Repository devunt/mearie: changes, and which lefthook commands are due for each by the changed paths.
All: format-js, format-rust

format-js:
  run: pnpm prettier --write {staged_files}
  stage_fixed: true

format-rust:
  run: cargo fmt
  stage_fixed: true

fix(native/codegen): make proper union/intersection with fragments
  crates/native/src/codegen/generators/types.rs
  crates/native/src/schema/index.rs
Due: format-rust

chore(native): cargo fmt
  crates/native/src/codegen/generator.rs
  crates/native/src/schema/document.rs
  crates/native/src/schema/index.rs
  crates/native/src/transformation/context.rs
  crates/native/src/transformation/transformer.rs
Due: format-rust

feat(core,native,shared): implement scalar transformation
  crates/native/src/codegen/generators/runtime.rs
  packages/core/src/client.ts
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/scalar.test.ts
  packages/core/src/exchanges/scalar.ts
  packages/core/src/exchanges/test-utils.ts
  packages/core/src/scalars.test.ts
  packages/core/src/scalars.ts
  packages/core/src/utils.ts
  packages/shared/src/types.ts
Due: format-js, format-rust

feat: implement type-safe scalars
  crates/native/src/codegen/generators/types.rs
  packages/config/src/defaults.ts
  packages/core/src/client.ts
  packages/core/src/exchanges/test-utils.ts
  packages/core/src/scalars.ts
  packages/shared/src/types.ts
Due: format-js, format-rust

refactor(examples): refactor examples to use scalar transform
  examples/react/mearie.config.ts
  examples/react/src/components/movie-card.tsx
  examples/react/src/lib/client.ts
  examples/react/src/routes/index.tsx
  examples/react/src/routes/movies/$movieId.tsx
  examples/solid/mearie.config.ts
  examples/solid/src/components/movie-card.tsx
  examples/solid/src/lib/client.ts
  examples/solid/src/routes/index.tsx
  examples/solid/src/routes/movies/[id].tsx
  examples/svelte/mearie.config.ts
  examples/svelte/src/lib/client.ts
  examples/svelte/src/lib/components/MovieCard.svelte
  examples/svelte/src/routes/+page.svelte
  examples/svelte/src/routes/movies/[id]/+page.svelte
  examples/vue/app/components/MovieCard.vue
  examples/vue/app/env.d.ts
  examples/vue/app/pages/index.vue
  examples/vue/app/pages/movies/[id].vue
  examples/vue/app/plugins/mearie.ts
  examples/vue/mearie.config.ts
  examples/vue/package.json
Due: format-js

feat(cli): add `@mearie/cli` package
  packages/cli/package.json
  packages/cli/src/cli.ts
  packages/cli/tsdown.config.ts
  packages/mearie/package.json
  pnpm-lock.yaml
Due: format-js

chore(deps): update dependency
  examples/react/package.json
  examples/svelte/package.json
  package.json
  packages/codegen/package.json
  packages/solid/package.json
  packages/svelte/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format-js

chore(changeset): remove all changesets
  .changeset/brave-elephants-dance.md
  .changeset/brave-hats-visit.md
  .changeset/brave-rivers-flow.md
  .changeset/busy-shoes-listen.md
  .changeset/calm-trees-dance.md
  .changeset/careful-lions-smile.md
  .changeset/clever-birds-dance.md
  .changeset/clever-lions-smile.md
  .changeset/easy-poets-start.md
  .changeset/fair-foxes-cheer.md
  .changeset/full-bats-joke.md
  .changeset/light-geese-like.md
  .changeset/pre.json
  .changeset/proud-lions-dance.md
  .changeset/purple-birds-swim.md
  .changeset/quiet-sheep-jump.md
  .changeset/seven-tools-bake.md
  .changeset/silent-lions-rest.md
  .changeset/silent-years-jump.md
  .changeset/smooth-tables-dance.md
  .changeset/strong-games-warn.md
  .changeset/swift-bats-jump.md
  .changeset/true-clubs-sink.md
Due: format-js

chore(changeset): prepare release
  .changeset/long-lions-feel.md
Due: format-js

chore(deps): update native dependency
  Cargo.lock
  crates/native/Cargo.toml
Due: none

chore: remove agents
  .claude/agents/commit-pr-manager.md
Due: format-js

chore(lint): fix all linting and formatting error
  examples/solid/src/entry-client.tsx
  examples/solid/src/routes/index.tsx
  examples/solid/src/routes/movies/[id].tsx
  examples/svelte/src/app.css
  examples/svelte/src/app.html
  examples/vue/app/app.vue
  examples/vue/app/components/MovieCard.vue
  examples/vue/app/pages/movies/[id].vue
  lefthook.yml
  packages/cli/tsconfig.json
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/denormalize.test.ts
  packages/core/src/cache/denormalize.ts
  packages/core/src/cache/normalize.test.ts
  packages/core/src/cache/utils.test.ts
  packages/core/src/client.ts
  packages/core/src/exchange.ts
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/scalar.test.ts
  packages/core/src/exchanges/test-utils.ts
  packages/core/src/index.ts
  packages/core/src/scalars.test.ts
  packages/core/src/scalars.ts
  packages/react/src/client-provider.tsx
  packages/solid/src/client-provider.tsx
  packages/svelte/src/client-context.svelte.ts
  packages/svelte/src/index.svelte.ts
  packages/vue/src/client-plugin.ts
  packages/vue/src/use-fragment.ts
Due: format-js

fix(mearie): expose cli entrypoint
  packages/mearie/package.json
  packages/mearie/src/cli.ts
  packages/mearie/tsdown.config.ts
Due: format-js

fix(native): fix publish process
  crates/native/package.json
  crates/native/scripts/prepare.mts
Due: format-js

chore(changeset): prepare release
  .changeset/eager-candies-feel.md
  crates/native/CHANGELOG.md
  docs/changelog.md
  packages/cli/CHANGELOG.md
  packages/codegen/CHANGELOG.md
  packages/config/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/mearie/CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/shared/CHANGELOG.md
  packages/solid/CHANGELOG.md
  packages/svelte/CHANGELOG.md
  packages/vite/CHANGELOG.md
  packages/vue/CHANGELOG.md
Due: format-js

chore(docs): add missing changelog
  docs/changelog.md
Due: format-js

docs: update to latest api
  docs/frameworks/react.md
  docs/frameworks/solid.md
  docs/frameworks/svelte.md
  docs/frameworks/vue.md
  docs/getting-started/using-fragments.md
  docs/guides/fragments.md
  packages/react/README.md
  packages/solid/README.md
  packages/svelte/README.md
  packages/vue/README.md
Due: format-js

fix(react,vue,svelte,solid): fix generic
  examples/react/src/routes/index.tsx
  examples/solid/src/routes/index.tsx
  examples/svelte/src/routes/+page.svelte
  examples/vue/app/pages/index.vue
  packages/react/src/use-mutation.ts
  packages/react/src/use-query.ts
  packages/react/src/use-subscription.ts
  packages/solid/src/create-mutation.ts
  packages/solid/src/create-query.ts
  packages/solid/src/create-subscription.ts
  packages/svelte/src/create-mutation.svelte.ts
  packages/svelte/src/create-query.svelte.ts
  packages/svelte/src/create-subscription.svelte.ts
  packages/vue/src/use-mutation.ts
  packages/vue/src/use-query.ts
  packages/vue/src/use-subscription.ts
Due: format-js

docs: expand concepts section and minor tweaks
  docs/.vitepress/config.ts
  docs/concepts/caching.md
  docs/concepts/fragments.md
  docs/concepts/modern-graphql.md
  docs/concepts/type-safety.md
  docs/config/client.md
  docs/exchanges/cache.md
  docs/exchanges/custom.md
  docs/exchanges/dedup.md
  docs/exchanges/http.md
  docs/exchanges/retry.md
  docs/exchanges/subscription.md
  docs/getting-started/setup.md
  docs/guides/exchanges.md
  docs/guides/queries.md
  docs/guides/scalars.md
  docs/guides/subscriptions.md
  docs/index.md
  docs/why.md
Due: format-js

chore(changeset): prepare release
  .changeset/eager-candies-feel.md
  .changeset/fruity-jeans-flow.md
  .changeset/long-lions-feel.md
  .changeset/pre.json
  crates/native/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/codegen/CHANGELOG.md
  packages/config/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/mearie/CHANGELOG.md
  packages/react/CHANGELOG.md
  packages/shared/CHANGELOG.md
  packages/solid/CHANGELOG.md
  packages/svelte/CHANGELOG.md
  packages/vite/CHANGELOG.md
  packages/vue/CHANGELOG.md
Due: format-js

chore(docs): add plausible tracker
  docs/.vitepress/config.ts
Due: format-js

docs: add acknowledgements for derived works
  ACKNOWLEDGMENTS.md
  README.md
Due: format-js

fix(docs): fix a link to acknowledgement
  README.md
Due: format-js

Update tsdown.config.ts
  packages/core/tsdown.config.ts
Due: format-js

add changeset
  .changeset/hot-waves-wear.md
  packages/core/package.json
Due: format-js

fix(core): tsdown build output path for stream entry point (#80)
  .changeset/hot-waves-wear.md
  packages/core/package.json
  packages/core/tsdown.config.ts
Due: format-js

chore: update Rust toolchain and lefthook config
  Cargo.toml
  cspell.txt
  lefthook.yml
  mise.toml
  package.json
  pnpm-lock.yaml
Due: format-js

fix(native): fix failing doc-tests
  crates/native/src/codegen/generator.rs
  crates/native/src/schema/document.rs
Due: format-rust

feat(core): add @required directive support
  .changeset/yummy-mirrors-turn.md
  crates/native/src/codegen/generators/runtime.rs
  crates/native/src/codegen/generators/types.rs
  packages/core/src/client.ts
  packages/core/src/exchanges/required.test.ts
  packages/core/src/exchanges/required.ts
  packages/core/src/index.ts
  packages/core/src/required.test.ts
  packages/core/src/required.ts
  packages/shared/src/types.ts
Due: format-js, format-rust

feat(core): support custom fetch function in httpExchange
  .changeset/vast-cases-travel.md
  packages/core/src/exchanges/http.ts
Due: format-js

feat(core): add promise-based query() and mutation() methods to Client
  .changeset/small-snails-pull.md
  packages/core/src/client.test.ts
  packages/core/src/client.ts
Due: format-js

fix(native): allow GraphQL keywords as identifiers in all parser contexts
  .changeset/hungry-goats-repeat.md
  crates/native/src/graphql/parser/parser.rs
  crates/native/tests/parser_tests.rs
  crates/native/tests/snapshots/parser_tests__extend_type_with_keyword_name.snap
  crates/native/tests/snapshots/parser_tests__fragment_on_keyword_type_name.snap
  crates/native/tests/snapshots/parser_tests__inline_fragment_with_keyword_type_condition.snap
  crates/native/tests/snapshots/parser_tests__keyword_as_enum_value_in_argument.snap
  crates/native/tests/snapshots/parser_tests__query_with_keyword_field_alias.snap
  crates/native/tests/snapshots/parser_tests__query_with_keyword_field_names.snap
  crates/native/tests/snapshots/parser_tests__schema_with_keyword_type_names.snap
  crates/native/tests/snapshots/parser_tests__type_definition_with_keyword_name.snap
  crates/native/tests/snapshots/parser_tests__type_implements_keyword_interface.snap
  crates/native/tests/snapshots/parser_tests__union_with_keyword_members.snap
  crates/native/tests/snapshots/parser_tests__variable_with_keyword_type_name.snap
Due: format-js, format-rust

feat(core): add initialData support to QueryOptions and framework bindings
  .changeset/heavy-hornets-melt.md
  packages/core/src/client.ts
  packages/react/src/use-query.ts
  packages/solid/src/create-query.ts
  packages/svelte/src/create-query.svelte.ts
  packages/vue/src/use-query.ts
Due: format-js

refactor(core)!: introduce exchange extension system with named exchanges
  .changeset/free-eyes-rest.md
  packages/core/src/client.test.ts
  packages/core/src/client.ts
  packages/core/src/compose.test.ts
  packages/core/src/compose.ts
  packages/core/src/exchange.ts
  packages/core/src/exchanges/cache.ts
  packages/core/src/exchanges/compose.ts
  packages/core/src/exchanges/dedup.ts
  packages/core/src/exchanges/fragment.ts
  packages/core/src/exchanges/http.ts
  packages/core/src/exchanges/required.ts
  packages/core/src/exchanges/retry.ts
  packages/core/src/exchanges/scalar.test.ts
  packages/core/src/exchanges/scalar.ts
  packages/core/src/exchanges/subscription.ts
  packages/core/src/exchanges/terminal.ts
  packages/core/src/exchanges/test-utils.ts
  packages/core/src/index.ts
  packages/core/src/required.ts
Due: format-js

feat(core): add cache invalidation support
  .changeset/hot-mails-rhyme.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
  packages/core/src/cache/types.ts
  packages/core/src/cache/utils.test.ts
  packages/core/src/cache/utils.ts
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
Due: format-js

chore(deps): add pnpm override for baseline-browser-mapping
  package.json
  pnpm-lock.yaml
Due: format-js

chore: exclude generated files from prettier check
  .prettierignore
  docs/concepts/type-safety.md
  docs/guides/queries.md
Due: format-js

feat(svelte,react,vue,solid): add DefinedQuery type with initialData overload
  .changeset/late-waves-switch.md
  packages/react/src/index.ts
  packages/react/src/use-query.ts
  packages/solid/src/create-query.ts
  packages/solid/src/index.ts
  packages/svelte/src/create-query.svelte.ts
  packages/svelte/src/index.svelte.ts
  packages/vue/src/index.ts
  packages/vue/src/use-query.ts
Due: format-js

feat(core,svelte,react,vue,solid): add FragmentList type with array overload
  .changeset/proud-foxes-dance.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
  packages/core/src/cache/utils.test.ts
  packages/core/src/cache/utils.ts
  packages/core/src/client.ts
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
  packages/react/src/index.ts
  packages/react/src/use-fragment.ts
  packages/solid/src/create-fragment.ts
  packages/solid/src/index.ts
  packages/svelte/src/create-fragment.svelte.ts
  packages/svelte/src/index.svelte.ts
  packages/vue/src/index.ts
  packages/vue/src/use-fragment.ts
Due: format-js

ci: add CI workflow with parallel lint, typecheck, and test checks
  .github/workflows/ci.yml
  cspell.txt
Due: format-js

Path conditions:
  format-js: any of: *.{js,ts,jsx,tsx,json,yml,yaml,md}
  format-rust: any of: *.rs
