Repository devunt/mearie: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, cspell, rust-fmt

eslint:
  run: pnpm eslint --fix --quiet {staged_files}
  stage_fixed: true

prettier:
  run: pnpm prettier --write --ignore-unknown {staged_files}
  stage_fixed: true

cspell:
  run: pnpm cspell --no-progress --relative --no-must-find-files {staged_files}

rust-fmt:
  run: cargo fmt -- {staged_files}
  stage_fixed: true

feat(svelte,react,vue,solid): add OptionalFragment type with null overload
  .changeset/swift-birds-fly.md
  packages/react/src/index.ts
  packages/react/src/use-fragment.ts
  packages/solid/src/create-fragment.ts
  packages/solid/src/index.ts
  packages/svelte/src/create-fragment.svelte.ts
  packages/svelte/src/index.svelte.ts
  packages/vue/src/index.ts
  packages/vue/src/use-fragment.ts
Due: eslint, prettier, cspell

fix(ci): fix eslint and cargo test failures in CI workflow
  .github/workflows/ci.yml
  crates/native/index.d.ts
  crates/native/package.json
Due: eslint, prettier, cspell

fix: resolve pre-existing lint, format, and typecheck issues
  crates/native/src/codegen/generators/runtime.rs
  package.json
  packages/react/src/use-query.ts
  packages/solid/src/create-fragment.ts
  packages/solid/src/create-query.ts
  packages/svelte/src/create-fragment.svelte.ts
  packages/svelte/src/create-query.svelte.ts
  packages/vue/src/use-query.ts
Due: eslint, prettier, cspell, rust-fmt

fix(ci): fix eslint and cargo test failures in CI workflow (#84)
  .github/workflows/ci.yml
  crates/native/index.d.ts
  crates/native/package.json
  crates/native/src/codegen/generators/runtime.rs
  package.json
  packages/react/src/use-query.ts
  packages/solid/src/create-fragment.ts
  packages/solid/src/create-query.ts
  packages/svelte/src/create-fragment.svelte.ts
  packages/svelte/src/create-query.svelte.ts
  packages/vue/src/use-query.ts
Due: eslint, prettier, cspell, rust-fmt

fix(core): resolve fragment cache collision for same entity (#82)
  .changeset/fix-fragment-cache-collision.md
  packages/core/src/cache/denormalize.test.ts
  packages/core/src/cache/denormalize.ts
  packages/core/src/cache/normalize.test.ts
  packages/core/src/cache/normalize.ts
  packages/core/src/cache/utils.ts
Due: eslint, prettier, cspell

fix(core): resolve fragment cache collision for same entity (#85)
  .changeset/fix-fragment-cache-collision.md
  packages/core/src/cache/denormalize.test.ts
  packages/core/src/cache/denormalize.ts
  packages/core/src/cache/normalize.test.ts
  packages/core/src/cache/normalize.ts
  packages/core/src/cache/utils.ts
Due: eslint, prettier, cspell

fix(shared): fix FragmentRefs<T> type to support structural subtyping
  .changeset/fix-fragment-refs-type.md
  packages/shared/src/types.ts
Due: eslint, prettier, cspell

ci: update GitHub Actions to latest versions
  .github/workflows/build-native.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: prettier, cspell

chore: update dependencies and adapt to breaking API changes
  Cargo.lock
  crates/native/Cargo.toml
  crates/native/package.json
  crates/native/src/codegen/generators/module.rs
  crates/native/src/codegen/generators/runtime.rs
  crates/native/src/graphql/parser/lexer.rs
  cspell.txt
  docs/.vitepress/theme/index.ts
  docs/package.json
  eslint.config.js
  examples/react/package.json
  examples/server/package.json
  examples/solid/package.json
  examples/svelte/package.json
  examples/vue/package.json
  fixture/package.json
  package.json
  packages/cli/package.json
  packages/codegen/package.json
  packages/codegen/tsdown.config.ts
  packages/config/package.json
  packages/core/src/exchanges/cache.ts
  packages/core/src/exchanges/dedup.ts
  packages/core/src/exchanges/fragment.ts
  packages/core/src/exchanges/http.ts
  packages/core/src/exchanges/retry.ts
  packages/core/tsconfig.json
  packages/mearie/src/vite.ts
  packages/mearie/tsdown.config.ts
  packages/react/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/vite/package.json
  packages/vite/tsdown.config.ts
  packages/vue/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, prettier, cspell, rust-fmt

chore: update dependencies and adapt to breaking API changes (#86)
  Cargo.lock
  crates/native/Cargo.toml
  crates/native/package.json
  crates/native/src/codegen/generators/module.rs
  crates/native/src/codegen/generators/runtime.rs
  crates/native/src/graphql/parser/lexer.rs
  cspell.txt
  docs/.vitepress/theme/index.ts
  docs/package.json
  eslint.config.js
  examples/react/package.json
  examples/server/package.json
  examples/solid/package.json
  examples/svelte/package.json
  examples/vue/package.json
  fixture/package.json
  package.json
  packages/cli/package.json
  packages/codegen/package.json
  packages/codegen/tsdown.config.ts
  packages/config/package.json
  packages/core/src/exchanges/cache.ts
  packages/core/src/exchanges/dedup.ts
  packages/core/src/exchanges/fragment.ts
  packages/core/src/exchanges/http.ts
  packages/core/src/exchanges/retry.ts
  packages/core/tsconfig.json
  packages/mearie/src/vite.ts
  packages/mearie/tsdown.config.ts
  packages/react/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/vite/package.json
  packages/vite/tsdown.config.ts
  packages/vue/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint, prettier, cspell, rust-fmt

fix(native): strip @required directive from fragment sources in operation body
  .changeset/fix-required-directive-strip.md
  crates/native/src/codegen/generators/runtime.rs
  crates/native/src/pipeline/mod.rs
Due: prettier, cspell, rust-fmt

fix(core): deep merge fragment spread fields in parse and validateRequired
  .changeset/fix-fragment-spread-shallow-merge.md
  packages/core/src/required.test.ts
  packages/core/src/required.ts
  packages/core/src/scalars.test.ts
  packages/core/src/scalars.ts
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
Due: eslint, prettier, cspell

fix: add non-null assertions in test to satisfy strict typecheck
  packages/core/src/scalars.test.ts
Due: eslint, prettier, cspell

fix(core): deep merge fragment spread fields in parse and validateRequired (#87)
  .changeset/fix-fragment-spread-shallow-merge.md
  packages/core/src/required.test.ts
  packages/core/src/required.ts
  packages/core/src/scalars.test.ts
  packages/core/src/scalars.ts
  packages/core/src/utils.test.ts
  packages/core/src/utils.ts
Due: eslint, prettier, cspell

fix(core): propagate error-only results through cacheExchange
  .changeset/fix-cache-error-swallow.md
  packages/core/src/exchanges/cache.ts
Due: eslint, prettier, cspell

fix: add missing take(1) in createMutation/useMutation across all bindings
  .changeset/fix-mutation-collect-hang.md
  packages/react/src/use-mutation.ts
  packages/solid/src/create-mutation.ts
  packages/svelte/src/create-mutation.svelte.ts
  packages/vue/src/use-mutation.ts
Due: eslint, prettier, cspell

fix(core): merge cache arrays element-wise in mergeFields
  .changeset/fix-cache-array-merge.md
  packages/core/src/cache/utils.ts
Due: eslint, prettier, cspell

feat(core): add cache extract/hydrate and client maybeExtension
  .changeset/feat-cache-extract-hydrate.md
  packages/core/src/cache/cache.ts
  packages/core/src/cache/types.ts
  packages/core/src/client.ts
  packages/core/src/exchanges/cache.ts
  packages/core/src/index.ts
Due: eslint, prettier, cspell

fix(core): fix scalar parsing for multiple fragments selecting same object field
  .changeset/fix-scalar-parse-fragment-overlap.md
  packages/core/src/scalars.ts
Due: eslint, prettier, cspell

fix(core): fix required validation for multiple fragments selecting same object field
  .changeset/fix-required-fragment-overlap.md
  packages/core/src/exchanges/required.test.ts
  packages/core/src/required.ts
Due: eslint, prettier, cspell

fix(svelte): use $state.snapshot when passing fragment refs to executeFragment
  .changeset/fix-svelte-fragment-snapshot.md
  packages/svelte/src/create-fragment.svelte.ts
Due: eslint, prettier, cspell

fix: start background fetch when initialData is provided
  .changeset/fix-initial-data-loading.md
  packages/react/src/use-query.ts
  packages/solid/src/create-query.ts
  packages/svelte/src/create-query.svelte.ts
  packages/vue/src/use-query.ts
Due: eslint, prettier, cspell

feat(core): add operation metadata passthrough and subscription transport routing
  .changeset/feat-operation-metadata.md
  packages/core/src/client.ts
  packages/core/src/exchange.ts
  packages/core/src/exchanges/subscription.ts
  packages/core/src/index.ts
Due: eslint, prettier, cspell

fix(core): fix cache normalization for incomplete keys and inline field change detection
  .changeset/fix-normalize-incomplete-keys-and-change-detection.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/normalize.test.ts
  packages/core/src/cache/normalize.ts
  packages/core/src/cache/utils.ts
Due: eslint, prettier, cspell

ci: add spellcheck to CI and configure cspell
  .github/workflows/ci.yml
  cspell.json
  cspell.txt
  docs/.vitepress/config.ts
  package.json
Due: eslint, prettier, cspell

fix(core): merge duplicate field selections instead of overwriting
  .changeset/fix-field-overwrite-fragment-merge.md
  packages/core/src/cache/denormalize.test.ts
  packages/core/src/cache/denormalize.ts
Due: eslint, prettier, cspell

feat(cache): add structural sharing to preserve referential identity
  .changeset/feat-structural-sharing.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
  packages/core/src/cache/types.ts
  packages/core/src/cache/utils.test.ts
  packages/core/src/cache/utils.ts
  packages/svelte/src/create-query.svelte.ts
  packages/svelte/src/create-subscription.svelte.ts
Due: eslint, prettier, cspell

ci: update macOS runners to macos-latest
  .changeset/update-macos-runners.md
  .github/workflows/build-native.yml
Due: prettier, cspell

fix: correct publishConfig exports to use .mjs/.d.mts extensions
  .changeset/fix-publishconfig-exports-extensions.md
  packages/cli/package.json
  packages/codegen/package.json
  packages/config/package.json
  packages/core/package.json
  packages/mearie/package.json
  packages/react/package.json
  packages/shared/package.json
  packages/solid/package.json
  packages/svelte/package.json
  packages/vite/package.json
  packages/vue/package.json
Due: prettier, cspell

fix(svelte): add svelte export condition for proper rune compilation
  .changeset/svelte-exports-svelte-condition.md
  packages/svelte/package.json
Due: prettier, cspell

fix(svelte): ship type-stripped .svelte.js for svelte export condition
  .changeset/svelte-condition-js-output.md
  packages/svelte/package.json
  packages/svelte/tsconfig.svelte.json
Due: prettier, cspell

fix(core): deep merge entity storage to preserve nested non-entity fields across fragments
  .changeset/fix-entity-nested-field-merge.md
  packages/core/src/cache/normalize.test.ts
  packages/core/src/cache/normalize.ts
Due: eslint, prettier, cspell

fix(core): include operationName in HTTP and subscription requests
  .changeset/fix-operation-name-in-requests.md
  packages/core/src/exchanges/http.ts
  packages/core/src/exchanges/subscription.ts
Due: eslint, prettier, cspell

fix(core): include operationName in HTTP and subscription requests (#93)
  .changeset/fix-operation-name-in-requests.md
  packages/core/src/exchanges/http.ts
  packages/core/src/exchanges/subscription.ts
Due: eslint, prettier, cspell

fix(core): dedup exchange blocking late subscribers to resolved queries
  .changeset/fix-dedup-late-subscriber.md
  packages/core/src/exchanges/dedup.test.ts
  packages/core/src/exchanges/dedup.ts
Due: eslint, prettier, cspell

fix(core): dedup exchange blocking late subscribers to resolved queries (#95)
  .changeset/fix-dedup-late-subscriber.md
  packages/core/src/exchanges/dedup.test.ts
  packages/core/src/exchanges/dedup.ts
Due: eslint, prettier, cspell

fix(core): preserve stale cache data during invalidation refetch
  .changeset/quick-lions-taste.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
  packages/core/src/cache/types.ts
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
Due: eslint, prettier, cspell

fix(core): preserve stale data during cache invalidation refetch (#96)
  .changeset/quick-lions-taste.md
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
  packages/core/src/cache/types.ts
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
Due: eslint, prettier, cspell

fix(core): scope invalidation refetch and keep stale fragment reads
  packages/core/src/cache/cache.test.ts
  packages/core/src/cache/cache.ts
  packages/core/src/cache/denormalize.ts
  packages/core/src/exchanges/cache.test.ts
  packages/core/src/exchanges/cache.ts
Due: eslint, prettier, cspell

revert(core): undo changes
  packages/core/src/cache/cache.ts
  packages/core/src/cache/denormalize.ts
  packages/core/src/cache/types.ts
  packages/core/src/exchanges/cache.ts
Due: eslint, prettier, cspell

Path conditions:
  eslint: any of: *.{ts,tsx,js,jsx}
  prettier: any of: *.{ts,tsx,js,jsx,json,yaml,yml,md,graphql}
  cspell: any of: *
  rust-fmt: any of: *.rs
